{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
     <!--for font of text-->
     <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Noticia+Text:wght@700&display=swap" rel="stylesheet">
     <style> @import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@700&display=swap'); </style>
      <!--for fontawesome-->
      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
      <script
      src="https://kit.fontawesome.com/1c9ad4b785.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="/your-path-to-fontawesome/js/brands.js"></script>
    <script defer src="/your-path-to-fontawesome/js/solid.js"></script>
    <script defer src="/your-path-to-fontawesome/js/fontawesome.js"></script>
    <script defer src="/your-path-to-fontawesome/js/fontawesome.js"></script>
    <!--for bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
     <!--for css-->
     <link rel="stylesheet" href="{% static 'style.css/style.css' %}" />

    <title>AAWAZ</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <a class="navbar-brand">AAWAZ</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

        

        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#footer">Follow Us</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#testimonials">Our Work</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#second-slide">Query</a></li>
        </ul>
      </div>
    </nav>

    
       
    <section id="first-slide">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 title-text">
              <img class="img-img"
              src="{% static 'image/images.jpg' %}" alt="image"/>
                <h1>Welcome to Aawaaz</h1>
                <h3>A simple website for everyone.</h3>
                <p>Good interaction between Government and General public is still a tedious process.
                    One to one conversations.We make possible efforts,that the problem is resolved in minimum time.
                   From everyday problems to National concers,immediate possible action will be taken.
                   
                
                </p>
            </div>
            
            <div class="col-lg-6">
              <img
                class="img-rotate"
                src= "{% static '/image/awaaz.png' %}"
                alt="logo"
              />
            </div>
          </div>
        </div>
      </section>

<hr>
    <section id="second-slide">
      <h2 class="register">Register Your Complaint</h2>            
      
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">About Anonimity</h5>
              <p class="card-text">We try to maintain our user's full privacy providing 100% Anonimity from government.
                We try to protect our user's form any harm from the hands of government.
              </p>
             
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Register Your Complaint</h5>
              <p class="card-text">To Register your complaint click on the button below.</p>

              <button class="btn btn-secondary"><a href="{% url 'query' %}">Register Query</a></button>
             
            </div>
          </div>
        </div>
      </div>

       
    </section>
    <hr >
    <section id="testimonials">
        <h1 class="th1">Our Work</h1>
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
                
              <h2 class="h2-text">
                We were facing garbage problem in our area.The situation was pathetic.We came to know about aawaz, we contacted the concerned person
                and the issue was immediately resolved.
              </h2>
              <i class="fab fa-location-dot"></i>
              <a href="https://www.google.com/maps/dir//Nalanda+Modern+Public+School,+857%2F1,+Main+Road,+Parvatiya+Anchal,+Maurya+Enclave,+Sant+Nagar,+Burari,+Delhi,+110084/@28.7509204,77.1613463,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x390cff1b64caa789:0xb55de7c15fc55dc2!2m2!1d77.1985632!2d28.7475259">Burari, Civil Lines, Delhi</a>
              
            </div>
            <div class="carousel-item">
              <h2 class="h2-text">
              There was electricity shortage in our area for a very long time. We tried contacting the authorities
              but was'nt able to connect prperly to electricity department.Aawaaz connected us dierectly to the head of
              electricity department. Our issue was resolved within one month.
              </h2>
              <i class="fab fa-location-dot"></i>
              <a href="https://www.google.com/maps/place/Maharaja+Surajmal+Institute+Of+Technology/@28.6843527,77.055831,12z/data=!4m21!1m15!4m14!1m6!1m2!1s0x390d04afb8dbcfe1:0xaff19e718be2136b!2sMaharaja+Surajmal+Institute+Of+Technology,+C-4+MARKET,+Fire+Station+Rd,+Janakpuri,+New+Delhi,+Delhi+110058!2m2!1d77.0924545!2d28.6206856!1m6!1m2!1s0x390cff1b64caa789:0xb55de7c15fc55dc2!2sNalanda+Modern+Public+School,+857%2F1,+Main+Road,+Parvatiya+Anchal,+Maurya+Enclave,+Sant+Nagar,+Burari,+Delhi,+110084!2m2!1d77.1985632!2d28.7475259!3m4!1s0x390d04afb8dbcfe1:0xaff19e718be2136b!8m2!3d28.6206856!4d77.0924545">Near Msit</a>
              
            </div>
            <div class="carousel-item ">
                
                <h2 class="h2-text">
                  Water shortage was a major problem in our area. Due to lack of water supply we were unable 
                  to do our daily work. We made a noc signed from every member in our area, and upload it on Aawaaz.
                  Aawaaz connected us with Delhi Jal Board Head. Our problem was solved within few weeks.
                </h2>
                <i class="fab fa-location-dot"></i>
                <a href="https://www.google.com/maps/dir//Khayala,+Vishnu+Garden,+Delhi,+110018/@28.6564778,77.0955887,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x390d0486fec144dd:0x6e1a16851e075dde!2m2!1d77.0981743!2d28.6563648">Khyala</a>
                
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>


<hr >
    
    <!-- Footer -->

    <footer id="footer">
        <i class="i-footer fab fa-twitter"></i>
        <i class="i-footer fab fa-facebook"></i>
        <i class="i-footer fab fa-instagram"></i>
      
        <p class="p-footer">© Copyright AAWAZ 2022</p>
      </footer>
    </body>
  </html>
  </body>
</html>
