<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
     <!--for font of text-->
     <link rel="preconnect" href="https://fonts.googleapis.com" />
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
     <link
       href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
       rel="stylesheet"
     />
      <!--for fontawesome-->
      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
      <script
      src="https://kit.fontawesome.com/1c9ad4b785.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="/your-path-to-fontawesome/js/brands.js"></script>
    <script defer src="/your-path-to-fontawesome/js/solid.js"></script>
    <script defer src="/your-path-to-fontawesome/js/fontawesome.js"></script>
    <script defer src="/your-path-to-fontawesome/js/fontawesome.js"></script>
    <!--for bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
     <!--for css-->
     <link rel="stylesheet" href="style.css/style.css" />

    <title>AAWAZ</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <a class="navbar-brand">AAWAZ</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarScrollingDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Link
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">about</a></li>
              
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#footer">Follow Us</a>
          </li>
        </ul>

        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#second-slide">Query</a></li>
        </ul>
      </div>
    </nav>

       

    <section id="first-slide">
      

            <img
             
              src="image/image1.jpg "
              alt="image"
            />
           
         
       
            
    </section>
<hr style="height:2px;border-width:0;color:gray;background-color:black">
    <section id="second-slide">
      <h2>Register Your Complaint</h2>            
      
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">About Anonimity</h5>
              <p class="card-text">We try to maintain our user's full privacy providing 100% Anonimity from government.
                We try to protect our user's form any harm from the hands of government.
              </p>
             
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Register Your Complaint</h5>
              <p class="card-text">To Register your complaint click on the button below.</p>
              <button type="button" class="btn btn-primary btn-lg btn-block"><a href="index2.html" >Contact Us</a></button>
             
            </div>
          </div>
        </div>
      </div>

       
    </section>
    <hr style="height:2px;border-width:0;color:gray;background-color:black">
    <section id="testimonials">
        <h1>Testimonials</h1>
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
                
              <h2 class="h2-text">
                We were facing garbage problem in our area.The situation was pathetic.We came to know about aawaz, we contacted the concerned person
                and the issue was immediately resolved.
              </h2>
              <img
                class="testimonials-img"
                src="images/dog-img.jpg"
                alt="dog-profile"
              />
              <em>Pebbles, New York</em>
            </div>
            <div class="carousel-item">
              <h2 class="h2-text">
                My dog used to be so lonely, but with TinDog's help, they've found
                the love of their life. I think.
              </h2>
              <img
                class="testimonials-img"
                src="images/lady-img.jpg"
                alt="lady-profile"
              />
              <em>Beverly, Illinois</em>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>


<hr style="height:2px;border-width:0;color:gray;background-color:black">
    
    <!-- Footer -->

    <footer id="footer">
        <i class="i-footer fab fa-twitter"></i>
        <i class="i-footer fab fa-facebook"></i>
        <i class="i-footer fab fa-instagram"></i>
      
        <p class="p-footer">© Copyright TinDog</p>
      </footer>
    </body>
  </html>
  </body>
</html>
